.bg-purple{background-color:#b6519f }
.bg-purple .sc_services_item_content h4.sc_services_item_title a{color:#FFF !important;}
/*.bg-purple sc_services_item a .sc_icon{color:#FFF !important}*/
.scheme_original .sc_services_style_services-2 .bg-purple  .sc_icon{color:#FFF !important}
.cu_block_5 h2{font-size: 1.5em !important;line-height: 1.3em !important;font-weight: 400 !important;margin-bottom: 0.5em !important;}
ul.cu_text_c li{list-style: none}
.icon-list {color: #d874ba;font-size: 16px}
a:hover{color:#dca4cb  !important}
.text-center{text-align: center}
.mb-30{margin-bottom: 30px;}
h2.no-upper{text-transform: capitalize !important}